.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(81/10)*1rem;
	width:(26/81)*1em;
}
.icon-arrow-right {
	font-size:(81/10)*1rem;
	width:(26/81)*1em;
}
.icon-check {
	font-size:(16/10)*1rem;
	width:(20/16)*1em;
}
.icon-check-circle {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-chevron-left2 {
	font-size:(11/10)*1rem;
	width:(7/11)*1em;
}
.icon-chevron-right {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-chevron-right2 {
	font-size:(9/10)*1rem;
	width:(6/9)*1em;
}
.icon-clock {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-company {
	font-size:(16/10)*1rem;
	width:(17/16)*1em;
}
.icon-fb {
	font-size:(21/10)*1rem;
	width:(11/21)*1em;
}
.icon-list {
	font-size:(16/10)*1rem;
	width:(13/16)*1em;
}
.icon-mail {
	font-size:(13/10)*1rem;
	width:(17/13)*1em;
}
.icon-mark {
	font-size:(17/10)*1rem;
	width:(13/17)*1em;
}
.icon-metro {
	font-size:(13/10)*1rem;
	width:(18/13)*1em;
}
.icon-money {
	font-size:(18/10)*1rem;
	width:(21/18)*1em;
}
.icon-phone-alt-solid {
	font-size:(7/10)*1rem;
	width:(16/7)*1em;
}
.icon-phone-form {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-picker {
	font-size:(18/10)*1rem;
	width:(17/18)*1em;
}
.icon-picker-2 {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-print {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-print2 {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-search {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.icon-star {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-star-solid {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-tel {
	font-size:(7/10)*1rem;
	width:(16/7)*1em;
}
.icon-tel2 {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-user {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(13/10)*1rem;
	width:(23/13)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
