mixin s-to-get()
	// start s-to-get
	+b.SECTION.s-to-get.section.block-with-lazy#s-to-get&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-to-get
				
			.row
	// end s-to-get