mixin s-q()
	// start s-q
	+b.SECTION.s-q.section.block-with-lazy#s-q&attributes(attributes)
		.container
			.row 
				.col-sm-6
					+pic("q-img","png")
				.col
						h2 Остались вопросы?
						p Вы&nbsp;сомневаетесь стоит&nbsp;ли покупать продукт? 
							br
							| Наши коесультанты в&nbsp;кратчайшие срок проконсультрует вас.
						a.btn.btn-primary.btn--arrow(href="#")  заказать консультанцию
	// end s-q