mixin s-market-advantages()
	// start s-market-advantages
	+b.SECTION.s-market-advantages.section#s-market-advantages&attributes(attributes)
		.container
			+b.section-title
				h2 Поможем расти вашему бизнесу
				p.h5 RDV Маркет - эффективное решение для оптимизации бизнес-процессов интернет-продавца

			.row
				mixin adv-item(i, t)
					.col-12.col-sm-6.col-md-3
						+e.item
							+e.image-wrapper
								+e.IMG.image(src=`img/svg/adv-image${i}.svg` alt="")
							+e.item-title.mono=t
							block
				
				+adv-item("1","Легкий старт")
					+e.text.h6 Начать работу с&nbsp;маркетплейсами легко&nbsp;&mdash; все вопросы интеграции решены в&nbsp;одном сервисе
				+adv-item("2","Всё под рукой")
					+e.text.h6 Понятный интерфейс и&nbsp;отлаженные бизнес-процессы сделают работу с&nbsp;маркетплейсом простой и&nbsp;удобной
				+adv-item("3","Автоматизация логистических процессов")
					+e.text.h6 Прямое поступление и&nbsp;подтверждение заказов позволит подготавливать отправления в&nbsp;срок и&nbsp;без ошибок
				+adv-item("4","Все заказы в одгой системе")
					+e.text.h6 Вам доступен единый процесс работы с&nbsp;заказами, полученными со&nbsp;всех каналов продаж
				+adv-item("5","Больше прибыли")
					+e.text.h6 Отбор товаров по&nbsp;категориям, наличию, прибыльности&nbsp;&mdash; оптимизация товарного каталога увеличит прибыль интернет- магазина
				+adv-item("6","Контроль финансов")
					+e.text.h6 Удобный контроль взаиморасчетов с&nbsp;маркетплейсами позволит отслеживать платежи в&nbsp;режиме онлайн
				+adv-item("7","Всегда высокий рейтинг магазина")
					+e.text.h6 Высокий рейтинг позволит получать больше заказов, а&nbsp;отлаженная работа с&nbsp;маркетплейсом позволит повысить рейтинг
				+adv-item("8","Оперативная техподдержка")
					+e.text.h6 Займитесь развитием бизнеса, а&nbsp;решение всех технических вопросов мы&nbsp;возьмём на&nbsp;себя
	// end s-market-advantages