mixin s-servises()
	// start s-servises
	+b.SECTION.s-servises.section.bg-light#s-servises&attributes(attributes)
		.container
			+b.section-title
				h2 Наши услуги 
			.row
				mixin item(i,t)
					+e.col.col-lg-4.col-sm-6
						+e.item 
							+e.IMG.bg.res-i.lazy(src="#" data-src=`img/svg/servises-i-${i}.svg`, alt="")
							+e.img-wrap
								img.res-i.lazy(src="#" data-src=`img/svg/servises-i-${i}.svg`, alt="")
							+e.title= t
							block
							+e.footer: +e.more(href="#") Подробнее
								+icon("chevron-right2")
					// /+e.col.col-lg-4.col-sm-6
				+item("1","Консалтинговые услуги")
					+e.text Консалтинг по постановке новых бизнес- процессов, аудит текущих бизнес-процессов компании и рекомендации...
				+item("2","Автоматизация операционных процессов на 1С")
					+e.text Разработка систем автоматизации производственных и&nbsp;операционных процессов управления предприятием...
				+item("3","Разработка заказных решений на 1С")
					+e.text Разработка новых, уникальных и специфичных решений на&nbsp;платформе 1С для нового бизнеса...
				+item("4","Автоматизация учетных процессов")
					+e.text Автоматизация процессов бухгалтерского учета, формирования регламентированной и управленческой отчетности...
				+item("5","ИТ услуги")
					+e.text Оптимизация производительности систем 1С&nbsp;и&nbsp;затрат на&nbsp;серверную инфраструктуру систем, проектирование...
				+item("6","Поддержка систем 1С")
					+e.text Эксплуатация любой системы требует дополнительных затрат на&nbsp;ее сопровождение. Требования к&nbsp;ресурсам...
	// end s-servises