.s-marketplace {
	background-image: url(../img/s-effective-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: rem(60) 0 rem(40);
	h2{
		color: #fff;
		text-transform: uppercase;
		margin-bottom: rem(25);
		&::after{
			background-color: #fff;
			background-color: $warning;
		}
	}
	&__item{
		text-align: center;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__item-title{
		font-weight: 500;
		line-height: rem(34);
		flex-grow: 1;
	}
	&__item-wrapper{
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(30);
		height: 20rem;
	}
	.marketplace-logo{
		margin-top: auto;
		margin-bottom: auto;
		padding: rem(55) rem(10) rem(36);
		// height: rem(240);
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		img{
			flex-shrink: 0;
		}
	}
	&__marketplace-name-wrapper{
		width: 100%;
		min-height: rem(55);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 rem(10);
		font-size: rem(15);
	}
	&__name{
		display: inline-block;
	}
	.marketplace-logo-mini{
		width: auto;
		margin-right: rem(15);
	}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}