mixin s-market-video()
	// start s-market-video
	+b.SECTION.s-market-video.section#s-market-video&attributes(attributes)
		.container
			+e.video-wrapper.lazy
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Bey4XXJAqS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end s-market-video