mixin s-team()
	// start s-team
	+b.SECTION.s-team.section.block-with-lazy#s-team&attributes(attributes)
		.container
			+b.section-title
				h2 Наша команда
				+e.text Компания «RDV» – опытная, амбициозная и уверенная в себе команда. Залог нашей уверенности - не только в уровне профессионализма и ответственности наших специалистов, но и в большом, успешном опыте реализации проектов в различных сферах деятельности.
			+e.slider--js
				mixin sl(i,l,t,p)
					+e.slide
						+e.item
							+e.img-circle
								img.res-i(src="#" data-lazy=`img/@2x/team-${i}.png`, alt="")
							+e.label= l
							+e.title= t
							+e.text= p
							+e.more(href="#") Подробнее
								+icon("chevron-right2")
					// /+e.slide
				+sl('1',"консультант","Александра Шурмина","В любой, тем более в сложной ситуации нужно сохранять позитивный настрой и искренние человеческие отношения - тогда все обязательно получится!")
				+sl('2',"руководитель продукта","Альберт Кантимеров","Я стремлюсь быть открытым для получения новых знаний и опыта, избегать стереотипов, взвешенно и аргументированно подходить к выбору решений")
				+sl('3',"РУКОВОДИТЕЛЬ НАПРАВЛЕНИЯ «ФИНАНСЫ»","Елена Веренич","Никогда не бойся сложных задач — предпринимай, пытайся, дерзай! Ведь если ты будешь бездействовать, шансов найти решение не будет вовсе!")
				+sl('3',"РУКОВОДИТЕЛЬ НАПРАВЛЕНИЯ «ФИНАНСЫ»","Елена Веренич","Никогда не бойся сложных задач — предпринимай, пытайся, дерзай! Ведь если ты будешь бездействовать, шансов найти решение не будет вовсе!")
	// end s-team