extends layout/main.pug
//- include ../blocks/s-content/_s-content.pug
//- include ../blocks/s-contact/_s-contact.pug
//- include ../blocks/s-opportunities/_s-opportunities.pug
//- include ../blocks/s-schema/_s-schema.pug
//- include ../blocks/s-give/_s-give.pug
//- include ../blocks/s-programm/_s-programm.pug
//- include ../blocks/s-work/_s-work.pug
//- include ../blocks/s-price/_s-price.pug
//- include ../blocks/s-why/_s-why.pug
//- include ../blocks/s-project/_s-project.pug
//- include ../blocks/s-tasks/_s-tasks.pug
//- include ../blocks/s-logo/_s-logo.pug
//- include ../blocks/s-rew/_s-rew.pug
//- include ../blocks/s-q/_s-q.pug
include ../blocks/s-events/_s-events.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-useful/_s-useful.pug
include ../blocks/s-list/_s-list.pug
include ../blocks/s-spickers/_s-spickers.pug
include ../blocks/s-to-get/_s-to-get.pug
block variables
	- let  mainPage= "default-body"
block title
	title Страница мероприятия
block pagecontent
	+mob-mnu()
	+header()
		+top-line()
		+top-nav() 
	+header-block-event()
		+breadcrumb("Главная","Мероприятия")
		 
	+s-list
	+s-useful
	+s-spickers
	+s-to-get
	+s-form
	+footer()
	//- +s-form()
	//- +s-contact()

