extends layout/main.pug
//- include ../blocks/s-content/_s-content.pug
//- include ../blocks/s-contact/_s-contact.pug
//- include ../blocks/s-opportunities/_s-opportunities.pug
//- include ../blocks/s-schema/_s-schema.pug
//- include ../blocks/s-give/_s-give.pug
//- include ../blocks/s-programm/_s-programm.pug
//- include ../blocks/s-work/_s-work.pug
//- include ../blocks/s-price/_s-price.pug
//- include ../blocks/s-why/_s-why.pug
//- include ../blocks/s-project/_s-project.pug
//- include ../blocks/s-tasks/_s-tasks.pug
//- include ../blocks/s-logo/_s-logo.pug
//- include ../blocks/s-rew/_s-rew.pug
//- include ../blocks/s-q/_s-q.pug
//- include ../blocks/s-events/_s-events.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-servises/_s-servises.pug
include ../blocks/s-start/_s-start.pug
include ../blocks/s-success/_s-success.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-news/_s-news.pug
block variables
	- let  mainPage= "default-body"
block title
	title Страницы
block pagecontent
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		+breadcrumb("Главная","Страницы")
		.page-title 
			h1 Страницы
		ol.mono.h5
			li
				a(href="main-page.html") Главная
			
			li
				a(href="main.html") Мероприятия
			
			li
				a(href="02-event.html") Страница мероприятия
			
			li
				a(href="03-e-com.html") E-com консалтинг
			
			li
				a(href="04-conditions.html") Условия подписки
			
			li
				a(href="05-market.html") Маркет

	+footer()
	//- +s-form()
	//- +s-contact()

