extends layout/main.pug


//- include ../blocks/s-content/_s-content.pug
//- include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-opportunities/_s-opportunities.pug
include ../blocks/s-schema/_s-schema.pug
include ../blocks/s-give/_s-give.pug
include ../blocks/s-programm/_s-programm.pug
include ../blocks/s-work/_s-work.pug
include ../blocks/s-price/_s-price.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-project/_s-project.pug
include ../blocks/s-tasks/_s-tasks.pug
include ../blocks/s-logo/_s-logo.pug
include ../blocks/s-rew/_s-rew.pug
include ../blocks/s-q/_s-q.pug

block title
	title title

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
		+header-block()
	+s-opportunities
	+s-schema
	+s-give
	+s-q
	+s-programm
	+s-work
	+s-price
	+s-why
	+s-form
	+s-project
	+s-tasks
	+s-logo
	+s-rew
	+footer()
	//- +s-form()
	//- +s-contact()

