mixin s-useful()
	// start s-useful
	+b.SECTION.s-useful.section.block-with-lazy#s-useful&attributes(attributes)
		.container
			+b.section-title--sm
				h2 Вебинар будет полезен: 
			ul.with-check-icon
				li руководителям и собственникам интернет-магазинов;

				li менеджерам направлений розничных продаж;

				li руководителям логистических подразделений.
	// end s-useful