mixin s-useful()
	// start s-useful
	+b.SECTION.s-useful.section.block-with-lazy#s-useful&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-useful
				
			.row
	// end s-useful