mixin s-schema()
	// start s-schema
	+b.SECTION.s-schema.section.block-with-lazy#s-schema&attributes(attributes)
		+pic("schema-bg","jpg","bg")(class="picture-bg")
		.container
			+b.section-title
				h2 Схема работы системы 1С CRM 
			+pic("shema-full",'jpg',"","lazy",0)(class="picture d-none d-md-block")
			+pic("shema-full-mob")(class="picture d-md-none")
			+e.footer
				h2 Сокращение сроков и&nbsp;затрат на&nbsp;выполнение процессов производственной деятельности
				p Программный продукт &laquo;1С:ERP Управление предприятием&raquo; позволяет автоматизировать финансово-хозяйственные процессы производства (диспетчеризация, маршрутизация, управление производственными ресурсами) любой сложности в&nbsp;средних и&nbsp;крупных организациях. Внедрение этого решения повышает прозрачность связей между структурными подразделениями компании, вовлеченных в&nbsp;снабжение, планирование и&nbsp;учет выпуска полуфабрикатов и&nbsp;готовой продукции на&nbsp;складах. Программный продукт &laquo;1С:ERP Управление предприятием&raquo; позволяет автоматизировать финансово-хозяйственные процессы производства (диспетчеризация, маршрутизация, управление производственными ресурсами) любой сложности в&nbsp;средних и&nbsp;крупных организациях. Внедрение этого решения повышает прозрачность связей между структурными подразделениями компании, вовлеченных в&nbsp;снабжение, планирование и&nbsp;учет выпуска полуфабрикатов и&nbsp;готовой продукции на&nbsp;складах.
	// end s-schema