.form-wrap{
 	&__input-wrap{
			@extend .form-group;
			position: relative;
			margin-bottom: rem(20);
		}
		&__icon-wrap{
			position: absolute;
			text-align: center;
			left: rem(25);
			top: rem(20);
			width: rem(17);
			.icon{
				font-size: rem(16);
				color: $primary;
				&-mail{
					font-size: rem(13);

				}
				
				&-check-circle{
					font-size: rem(17);

				}

			}
		}
		&__input{
			@extend .form-control;
			// @extend .form-control-lg;
		//  outline: 0 !important;
		 resize: none; 
		 padding-left: rem(57);
	 }
	 &__title{
		 line-height: 1.2;
		 @include rfs(rem(24));
		 font-weight: 700;
		 padding-bottom: 2rem;
	 }
 	&__btn{
		 cursor: pointer;
		 @extend .btn;
		 @extend .btn-lg;
		//  @extend .btn-warning;
		//  padding-left: rem(5);
		//  padding-right: rem(5);
		//  @extend 
		// display: block;
		width: 100%;
 	}
 	label{
 		width: 100%;
 		display: block;
	 }
	 
&__polite{ 
	// padding-top: ;
	margin-top: rem(20);
}
textarea{
	height: rem(191);
}
}


.parsley-error{
	border-image: none;
	border: 2px solid  red !important;
	color: red;
	outline: 0 !important;
	 
}
.parsley-success{
	border: 2px solid  #00d600 !important;

}
.parsley-errors-list{
	color: red;
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}




.custom-input{
	display: block;
	margin: auto;
	 
	margin-bottom: rem(20);
	cursor: pointer;
	position: relative;
	padding-left: rem(25px);
	display: inline-block;
	color: $dark; 
font-size: $em-base;
font-weight: 300;
	&__input{
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0 );
		overflow: hidden;
	}
	&__lab{
		left: 0;
		display: block;
		top: rem(3); 
		width: rem(18px);
		height: rem(18px);
		border-radius: rem(3px);
		border: 1px solid rgba(23, 79, 119, 0.2);
		background-color: #ffffff;
		@include mt;
		position: absolute;  
		&::after{  
			content: '';
			position: absolute;
			@include a-cent; 
			opacity: 0;
		}

	}
 
	&__input + &__lab{
		&::after{ 
			content:   "";
			position: absolute;
			@include a-cent; 
			opacity: 0;
			width: rem(11px);
			height: rem(11px);
			border-radius: rem(3px);
			background-color: $primary;
		}
	}
	
	&__input[type="radio"] + &__lab{ 
		&::after{ 
			width: rem(10px);
			height: rem(10px);
			border-radius: 50%;
		}
		border-radius: 50%;
	}

	&__input:checked + &__lab{
		border-color: $primary;
		
		&::after{
			opacity: 1;
		}
	}
 
}





// .jq-selectbox{
// 	max-width: 100%;
// 	margin: auto;
// 	display: block !important;
//  // height: auto;
// 	&__select{
// 		// background-color: transparent;
		 
// 		box-shadow: none !important; 
// 		background-image: none !important;
// 		text-shadow: none;
// 		font-family: $default-font;
// 		font-size: rem(14); 
// 		text-align: left;
// 		border: 1px solid #dadada;
// 		background-color: #fff;
// 		padding-top: rem(12);
// 		padding-bottom: rem(12);
// 		height: auto;
// 		border-radius: rem(6);
// 		@include mt;
// 		&:hover{
		 
// 		}
// 		&-text{
// 			// width: 100% !important;
// 			line-height: 1;
// 		}
// 	}	
// 	&__select:hover &__trigger{
		 
// 	}
// 	&__trigger{
// 		border: none;
// 		background-color: #dadada; 
// 		height: 100%;
// 		width: 40px;
// 		border-radius: rem(6);
// 		text-align: center;
// 		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAYAAAAVibZIAAAA40lEQVRIS9XVXRXCMAwF4HsVgARQABLAATgAZeAAHIAEJIADUFBOdtqdwdKk7OeBPa7pl61JW8J5QghLAKcYtiV58+bQCojgBcA0xj0BrD04iypgyu/CKmqARXALLQBd+AP9ATThGg0h7AAcvMoq4601rtAeYDPHnuRRXnAgMOEVLKg086LDb2tTHiRnZvN3TfRH6MBreic5H6f6o/RpqnCPfn0B2JC8Jkvb+zI4KWwnAVff52vulCqBVbDaptoXxdPKgrNgFo3Fk7tJg03QRDOwC7poAz7HZZIq97tNCzugFfYGUK5wGWWE5JYAAAAASUVORK5CYII=);
// 		background-position: center;
// 		background-repeat: no-repeat;
// 		@include mt;
// 		&:hover{
			

// 		}
// 	}
// 	&__trigger-arrow { 
// 		border: none;
    
// }
// li{
// 	font-size: rem(16);
// 	padding: em(10px) 10px em(10px);
// 	&:hover {
     
//     color: #fff;
// }
// }
// }



.select2-container--default{
	display: block;
	outline: 0 !important; 
	.select2-selection--single{
		border-radius: 0;
		border: none;
		border-bottom: solid 1px ;
		height: auto;
		font-size: rem(24px);
		outline: 0 !important; 
		.select2-selection__arrow b{
				border-color: $success transparent transparent transparent;
			  border-style: solid;
			  border-width: 7px 7px 0 7px;
		}
		.select2-selection__rendered{
			white-space: normal; 
			 padding-left: 0;
			 padding-bottom: 5px;
		}
	}
} 
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color: transparent transparent $success transparent;
  border-width: 0 7px 7px 7px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $success;
}