mixin s-steps()
	// start s-steps
	+b.s-steps.section#s-steps&attributes(attributes)
		.container 
			.tabs
				.tabs__caption
					.tabs__btn.active  Для тех, кто ещё не&nbsp;начал работу с&nbsp;маркетплейсами или открывает для себя новые маркетплейсы
					.tabs__btn Для тех, кто уже работает с&nbsp;маркетплейсами, но&nbsp;хочет получать больше прибыли
				.tabs__wrap
					mixin item(i,t)
						+e.col.col-md-6
							+e.item 
								+e.IMG.bg.res-i.lazy.img-svg(src=`img/svg/tab-${i}.svg` , alt="")
								+e.img-wrap
									img.res-i.lazy(src="#" data-src=`img/svg/tab-${i}.svg`, alt="")
								
								+e.title= t
								block
						// /+e.col.col-md-6
					.tabs__content.active: .row
						+item("1-1","Заключение договоров с маркетплейсами")
							+e.text Сделаем процесс заключения договоров быстрым и&nbsp;комфортным
						+item("1-2","Подготовка товарного каталога и его настройка согласно маржинальности товара")
							+e.text Сформируем товарный каталог и&nbsp;произведём его экономически эффективную настройку, автоматизируем процесс обновления цен и&nbsp;наличия товара
						+item("1-3","Оптимизация логистики согласно требованиям маркетплейсов")
							+e.text Выстроим эффективные логистические процессы, полностью соответствующие требованиям выбранных маркетплейсов
						+item("1-4","Оптимизация финансовых процессов")
							+e.text Выстроим финансовые процессы согласно требованиям маркетплейсов
						+item("1-5","Запуск автоматизированного процесса продаж")
							+e.text Подключим комплексное решение для интеграции бизнес-процессов и&nbsp;систем интернет-продавца с&nbsp;маркетплейсом
						+item("1-6","Формирование бизнес-процессов  для e-commerce направления")
							+e.text Выстроим оптимальные финансовые и&nbsp;учетные процессы для вашего бизнеса
						+item("1-7","Автоматизация бизнеса с помощью ИТ-систем 1С")
							+e.text Проведём полную автоматизацию процессов электронной торговли
						+item("1-8","Аутсорсинг ИТ и учета")
							+e.text Возьмём на&nbsp;себя задачи построения ИТ-инфраструктуры и&nbsp;учетных процессов
					.tabs__content: .row

						+item("2-1","Полный аудит e-commerce направления по работе с маркетплейсами")
							+e.text Предложим комплексные бизнес-решения, которые помогут сделать работу с&nbsp;маркетплейсами эффективной
						+item("2-2","Управление контентом и ценами на площадках")
							+e.text Произведем экономически эффективную настройку товарного каталога, автоматизируем процесс обновления цен и&nbsp;наличия товара
						+item("2-3","Оптимизация логистической схемы")
							+e.text Выстроим эффективные логистические процессы, полностью соответствующие требованиям выбранных маркетплейсов
						+item("2-4","Формирование бизнес-процессов  для e-commerce направления")
							+e.text Выстроим оптимальные финансовые и&nbsp;учетные процессы для вашего бизнеса
						+item("2-5","Автоматизация бизнеса с помощью ИТ-систем 1С")
							+e.text Проведём полную автоматизацию процессов электронной торговли
						+item("2-6","Аутсорсинг ИТ и учета")
							+e.text Возьмём на&nbsp;себя задачи построения ИТ-инфраструктуры и&nbsp;учетных процессов
				+e.btn.btn-primary(href="#") ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ
					.btn-icon-wrap
						+icon("chevron-right2") 
	// end s-steps