.s-help {
	picture{
		@include media-breakpoint-up(md) {

			left: 50%;
			width: 50%;
		position: absolute;
		margin-top: 0;
		}
		margin-top: rem(40);
		position: static;
	}
	.section-title{
		@include media-breakpoint-up(md) {

			width: 50%;
			padding-right: 10px;
		}
		margin-bottom: 2rem;

	}
	h2{
		text-transform: uppercase;
		margin-bottom: 2rem;
		&::after{
			background-color:  $warning;
		}
	}

	&__btn{
		@extend .btn; 
		width: rem(295);
		font-size: rem(14);
		padding: rem(20) rem(50);
		letter-spacing: rem(2.8px);
	}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {
		padding-top: rem(70);
		padding-bottom: rem(70);
	}
	padding-bottom: 0;
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}