mixin s-form()
	// start s-form
	+b.s-form.section.bg-light.block-with-lazy#s-form&attributes(attributes) 
		.container 
			+e.title Участие в&nbsp;вебинаре бесплатное.
				br
				| Количество место ограничено, необходима предварительная регистрация.
			+form-wrap 
				.row
					.col-lg-4.col-md-6
						+input("user","Ф.И.О.")
					.col-lg-4.col-md-6
						+input("phone-form","Ваш телефон","tel")(required)
					
					.col-lg-4.col-md-6
						+input("mail","Ваш e-mail","email")(required)
					.col-lg-4.col-md-6
						+input("company","Компания")
					.col-lg-8
						+e.input-wrap: +e.input.form-control
							+e.icon-wrap
								+icon("check-circle")
							| ВЕБИНАР: Взгляд изнутри. Как увеличить продажи с помощью маркетплейсов
					
					.col-lg-4
						+e.input-wrap: +e.input.form-control
							+e.icon-wrap
								+icon("picker")
							| 19 июня 15:00 (МСК)
					.col-lg-4
						+e.btn.btn-primary(type="submit") зарегистрироваться
							span.btn-icon-wrap
								+icon("chevron-right2") 
						+polite
	// end s-form

mixin s-form-03()
	// start s-form
	+b.s-form.section.bg-light.block-with-lazy#s-form&attributes(attributes) 
		.container 
			.section-title
				h2 Стоимость услуг 
			+form-wrap 
				.row.justify-content-center
					.col-lg-4.col-md-6
						+input("user","Ф.И.О.")
					.col-lg-4.col-md-6
						+input("phone-form","Ваш телефон","tel")(required)
					
					.col-lg-4.col-md-6
						+input("mail","Ваш e-mail","email")(required)
					.col-lg-4.col-md-6
						+input("company","Компания")
					.col-lg-8
						+input("list2","Выберите услугу: Управление договорами и корпоративным документоборотом ","select") 
					.col-lg-12
						+input("textarea","Сообщение","textarea")
					.col-lg-4
						+e.btn.btn-primary(type="submit") отправить
							span.btn-icon-wrap
								+icon("chevron-right2") 
						+polite
	// end s-form

