mixin s-form()
	// start s-form
	+b.s-form.section.block-with-lazy#s-form&attributes(attributes)
		+pic("form-bg","bg","lazy")(class="picture-bg")
		.container 
			h2 Трудно разобраться и&nbsp;нужен совет  специалиста?
			p Вы&nbsp;сомневаетесь стоит&nbsp;ли покупать продукт?
				br
				| Наши коесультанты в&nbsp;кратчайшие срок проконсультрует вас.
			+form-wrap 
				.row.row--sm
					.col-lg-3.col-sm-6
						+input("введите имя")
					.col-lg-3.col-sm-6
						+input("+7 ( ___ ) ___ - __ - __","tel")(required)
					.col-lg-3.col-sm-6
						+polite
					.col-lg-3.col-sm-6
						+e.btn.btn--arrow.btn-primary(type="submit") заказать консультанцию
	// end s-form