mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			.row
				+e.col.col-8
					+e.text-block--head
						h1 1С&nbsp;система ERP для управление ресурсами предприятия
						p инновационное решение для построения комплексных информационных систем управления деятельностью многопрофильных предприятий с&nbsp;учетом лучших мировых и&nbsp;отечественных практик автоматизации крупного и&nbsp;среднего бизнеса.
						+e.btn.btn--arrow(href="#")  заказать консультанцию

			+e.footer.section
				.row
					.col-8
						+e.text-block
							h2 Сокращение сроков и&nbsp;затрат на&nbsp;выполнение процессов производственной деятельности
							p Программный продукт «1С:ERP Управление предприятием» позволяет автоматизировать финансово-хозяйственные процессы производства (диспетчеризация, маршрутизация, управление производственными ресурсами) любой сложности в средних и крупных организациях. Внедрение этого решения повышает прозрачность связей между структурными подразделениями компании, вовлеченных в снабжение, планирование и учет выпуска полуфабрикатов и готовой продукции на складах.
					.col
						+form-wrap
							+e.title Оставьте заявку и&nbsp;мы&nbsp;поможем вам рассчитать бюджет.
							.row.row--sm
								.col-lg-6
									+input("введите имя")
								.col-lg-6
									+input("+7 ( ___ ) ___ - __ - __","tel")(required)
								.col-xl-6
									+polite
								.col-xl-6
									+e.btn.btn-warning(type="submit") рассчитать стоимость
	// end header-block


mixin header-block-event()
	// start header-block-event
	+b.header-block-event.bg-wrap
		+pic("event-header","jpg","bg")(class="picture-bg")
		.container
			block
			+e.label Вебинар
			h1 Взгляд изнутри.
				br
				| Как увеличить продажи с&nbsp;помощью маркетплейсов
			+e.row.row
				+e.col.col-auto
					+icon("picker")
					| 22 июня, понедельник, 18:00
				
				+e.col.col-auto
					+icon("clock")
					| длительность: 1,5 часа     
				
				+e.col.col-auto
					+icon("money")
					| бесплатно
			.row
				.col-lg-auto
					+e.btn.btn-warning(href="#") зарегистрироваться
						.btn-icon-wrap
							+icon("chevron-right2")
						
				.col-auto
					+e.link(href="#")
						+e.link-icon-wrap
							+icon("picker-2")
						+e.link-text Добавить в календарь
				
				.col-auto
					+e.link(href="#")
						+e.link-icon-wrap
							+icon("print2")
						+e.link-text распечатать
				
				
	// end header-block


