.header{

  min-width: rem(100);
  // z-index: 2;
  position: relative;
  background-repeat: no-repeat;
  background-position: left bottom;
  // &__texture{
   
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   height: 100%;
  //   width: 100%;
  //   pointer-events: none;
  // }
  &__img-wrap{
    // left: 50%;
    right: 0;
    position: absolute;
    top: rem(242);
    max-width: 50%;
  }
  >.container{
    position: absolute;
    @include a-cent(x);
    // position: relative;
    // z-index:-1;
    height: 100%;
    width: 100%;
    
    &::before{
      @include media-breakpoint-up(sm) {

        content: '';
        position: absolute;
        // z-index: -1;
        background-color: $primary;
        top: 0;
        height: 100%;
        left: (100% / 12 * 8 );
        width: 100vw;
        margin-left: -10px;
        // @include bgs;
        background-repeat: no-repeat;
      }
    @include media-breakpoint-up(xl) {
      left: 66.5%
      // flex: 0 0 65%;
    }
    @include media-breakpoint-up(lg) {

      left: 60%;
    }
    
    @include media-breakpoint-up(md) {

      left: 60%;
    }

  }
  &.lazy-background.visible{
    &::before{
      @include media-breakpoint-up(sm) {

        
        background-position: left bottom;
      }
    }
    &.container--main{
      &::before{
        @include media-breakpoint-up(sm) {
  
          @include bg("head-texture.jpg"); 
        }
      }
    }
    
    &.container--e-com{
      &::before{
        @include media-breakpoint-up(sm) {
  
          @include bg("head-texture-2.jpg"); 
        }
      }
    }

  }
}
.col-lg-8,
.col-8{
  @include media-breakpoint-up(xl) {
    flex: 0 0 66.5%;
    max-width: 66.5%;
  }
  
  @include media-breakpoint-up(lg) {
    flex: 0 0 60%;
    max-width: 60%;
  }
  
  // @include media-breakpoint-up(md) {
  //   flex: 0 0 65%;
  //   max-width: 65%;

  // }
  // @include media-breakpoint-up(sm){
  //   flex: 0 0 66.66667%;
  //   max-width: 66.66667%;
  // }
  // flex: 0 0 100%;
  // max-width: 100%;

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {}
}
  // 
  @include media-breakpoint-up(xl) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {}

  @include media-breakpoint-up(xs) {}

  // 
  @include media-breakpoint-between(md, xl) {}

  // 
  @include media-breakpoint-only(xs) {}

  @include media-breakpoint-only(sm) {}

  @include media-breakpoint-only(md) {}

  @include media-breakpoint-only(lg) {}

  @include media-breakpoint-only(xl) {}

  // 
  @include media-breakpoint-down(xl) {}

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(xs) {}
 }

 .default-body{
  .header{
    >.container{

      &::before{
        display: none;
      }
    }
    background-color: #f6fafc;
  }
      .top-line{
        &__tel{
          color: $dark !important;
          .icon{
            color: $primary;
          }
        }
        .btn{
          @extend .btn-primary;
        }
      }
      .form-search{
        // width: rem(386);
        position: relative;
        // padding-left: rem(40);
        input{ 
          border: 1px solid #fff;
          color: $dark;
          background-color: #ffffff; 
        
          &::placeholder {
            color: $dark;
             
            opacity: 1;
          }
        }
        .icon{
         
          color: #ffffff; 
        }
        button{
          @extend .btn-primary;
          
        }
      }
 }