mixin s-spickers()
	// start s-spickers
	+b.SECTION.s-spickers.section.block-with-lazy#s-spickers&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-spickers
				
			.row
	// end s-spickers