mixin s-for-whom()
	// start s-for-whom
	+b.SECTION.s-for-whom.bg-light.section#s-for-whom&attributes(attributes)
		.container
			+b.section-title
				h2 RDV Маркет будет полезен:
				
			.row
				.col.col-xl-7
					+e.wrapper
						+e.H5.list-title Е-мерчандайзеру
						+e.list-subtitle.h6 Позволит легко и эффективно управлять товарным каталогом
						+e.UL.list
							+e.LI.list-item отбор товаров по категориям, наличию, прибыльности, маржинальности;
							+e.LI.list-item контроль остатков – исключение ситуаций с отсутствием товаров под заказ;
							+e.LI.list-item автоматическая выгрузка товарного каталога на маркетплейсы по расписанию.
						+e.H5.list-title Менеджеру по логистике
						+e.list-subtitle.h6 Позволит выбрать удобную систему управления заказами и быстро формировать&nbsp;задания на комплектацию и отгрузку
						+e.UL.list
							+e.LI.list-item подготовка отправлений в срок и без ошибок со всей сопроводительной документацией;
							+e.LI.list-item возможна настройка автоподтверждения заказов по наличию товара на складе;
							+e.LI.list-item снижение затрат на обработку заказов
						+e.H5.list-title Менеджеру по продажам
						+e.list-subtitle.h6 Позволит контролировать процесс продаж, исключая просрочку сроков&nbsp;исполнения заказов и повышая рейтинг интернет-магазина
						+e.UL.list
							+e.LI.list-item оперативное получение информации/уведомлений о заказах;
							+e.LI.list-item простой процесс обработки и подтверждения заказов
						+e.H5.list-title Финансисту
						+e.list-subtitle.h6 Позволит сократить объем задолженностей маркетплейса перед компанией&nbsp;с&nbsp;помощью удобной системы контроля платежей
						+e.UL.list
							+e.LI.list-item загрузка поступлений денежных средств от маркетплейса;
							+e.LI.list-item контроль закрытия задолженностей по расчетам;
							+e.LI.list-item отражение закрывающих документов в учете
					+e.btn.btn-primary(href="#") Бесплатная консультация
						.btn-icon-wrap
							+icon("chevron-right2") 
			+pic("fow-whom-img","png")(class="for-whom-pic d-none d-xl-block")
			+pic("for-whom-parallax","png")(class="for-whom-parallax d-none d-xl-block")
	// end s-for-whom