.s-swiper {
	@include media-breakpoint-up(md) {
		padding: 0;
	}
	.slick-track{
		display: flex;
	}
	&__slider{
		margin: 0 rem(-30);
	}
	&__slide{
		height: auto;
		padding: 0 rem(40) rem(40);
	}
	.slick-dots{
		margin-top: rem(-20);
	}
	.banner{
		width: 100%;
		height: 100%;
		position: relative;
		box-shadow: -2px 14px 30px rgba(23, 79, 119, 0.3);
		background-color: $blue-dark;
		color: #fff;
		display: flex;
		padding: rem(40) rem(10);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-bottom: rem(10);
		@include media-breakpoint-up(md) {
			min-height: rem(398);
			padding: rem(10);
		}
		z-index: 3;
		.picture-bg{
			opacity: .15;
			z-index: -2;
			img{
				object-position: center center;
			}
		}
		.h6{
			@extend .mono;
			text-transform: uppercase;
			letter-spacing: 3.6px;
			margin-bottom: rem(9);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(18);
			}
		}
		.h5{
			max-width: rem(730);
			font-weight: 400;
			margin-bottom: rem(30);
			@include media-breakpoint-up(md) {
				line-height: rem(34);
			}
		}
		&__title{
			@extend .mono;
			@include rfs(rem(27));
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: rem(5);
			line-height: 1.2;
			span{
				color: $warning;
			}
			@include media-breakpoint-up(md) {
				font-size: rem(36);
				margin-bottom: rem(10);
			}
		}
		&__text{
			font-family: Geometria;
			font-size: rem(24);
			font-weight: 500;
			margin-bottom: rem(10);
			@include media-breakpoint-up(md) {
				font-size: rem(30);
				margin-bottom: rem(15);
			}
		}
		&__btn{
			@include media-breakpoint-up(md) {
				width: 100%;
				max-width: rem(350);
				font-size: rem(14);
				display: flex;
				justify-content: center;
				align-items: center;
				height: rem(66);
				max-width: rem(400);
			}
			@extend .btn;
			@extend .btn-warning;
			font-size: rem(12);
			padding-right: rem(50);
			padding-left: rem(50);
		}
		&__subtext{
			margin-top: rem(16);
			line-height: rem(22);
			font-size: $h6-font-size;
			@include media-breakpoint-up(md) {
				margin-top: rem(32);
			}
		}
		&__ablosute{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			img{
				position: absolute;
				display: none;
				@include media-breakpoint-up(xl) {
					display: block;
				}
			}
		}
		&__corner-pic{
			img{
				right: 0;
				bottom: 0;
				}
			}
		&__left-ceter-pic{
			img{
				bottom: rem(62);
				right: rem(10);
			}
		}
		&__middle-pic{
			img{
				@include a-cent(x);
				top: rem(20);
			}
		}
	}
	.r{
		border-radius: 0 rem(28) rem(28) 0;
	}
	.l{
		border-radius: rem(28) 0 0 rem(28);
	}
	.slick-arrow{
		background-color: #2080a9;
		width: rem(40);
		height: rem(55);
		line-height: rem(50);
		text-align: center;
		margin-top: rem(-20);
		opacity: .7;
		@include media-breakpoint-down(md) {
				top: 101%;
		}
		@include mt;
		svg{
			width: rem(13);
			height: rem(23);
		}
		path{
			fill: #fff;
		}
		&:hover{
			opacity: 1;
		}
	}
	.r{
		@include media-breakpoint-down(md) {
				right: 35%;
		}
		@include media-breakpoint-down(sm) {
				right: 30%;
		}
		@include media-breakpoint-down(xs) {
				right: 25%;
		}
	}
	.l{
		@include media-breakpoint-down(md) {
				left: 35%;
		}
		@include media-breakpoint-down(sm) {
				left: 30%;
		}
		@include media-breakpoint-down(xs) {
				left: 25%;
		}
	}
	.last-banner{
		.h5{
			max-width: rem(520);
		}
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.market-swiper{
	background: transparent;
	transform: translateY(-46%);
}