mixin s-list()
	// start s-list
	+b.SECTION.s-list.section.block-with-lazy#s-list&attributes(attributes)
		.container
			.container
			+e.text Снятся&nbsp;ли интернет-продавцам маркетплейсы? Расскажем всё самое главное о&nbsp;маркетплейсах и&nbsp;том, как получать больше продаж с&nbsp;их&nbsp;помощью.
			+e.wrapper
				h2  В программе:
				ol
					li Текущая ситуация на российском рынке маркетплейсов.

					li Выгоды сотрудничества с маркетплейсами.

					li Существующие схемы взаимодействия продавца с маркетплейсами в логистике, финансах. Какую выбрать?

					li Как закрыть вопрос по ФЗ-54 внутри компании с помощью маркетплейсов.

					li Чек-лист: как организовать работу с маркетплейсами.

					li Заключение договоров с маркетплейсами. Как снизить риски?

					li Финансовое взаимодействие с маркетплейсами: взаиморасчеты, программа лояльности, возвраты.

					li Управление товарным каталогом на маркетплейсах, выгрузка остатков и цен. Особенности, о которых должен знать каждый продавец.

					li Специфика работы с маркетплейсами вручную и существующие способы автоматизации.
	// end s-list