.s-tariffs {
	.slick-dots li{
		border-color: #2080a9 ;
		&::before{
			background-color: $primary;
		}
	}
	padding-bottom: rem(70);
	&__wrapper{
		margin-left: rem(-30);
		margin-right: rem(-30);
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(60);
		}
	}
	.slick-list{
		padding-left: rem(20);
		padding-right: rem(20);
		padding-bottom: rem(40);
	}
	.slick-track{
		display: flex;
	}
	&__item-wrapper{
		padding: 0 rem(10) rem(30);
		height: auto;
	}
	&__item{
		float: none;
		margin-bottom: rem(30);
		width: 100%;
		height: 100%;
		padding: rem(12) rem(14);
		box-shadow: -1px 10px $em-base rgba(23, 79, 119, 0.2);
		display: flex;
		flex-direction: column;
		
	}
	&__item-title{
		color: #fff;
		box-shadow: -1px 10px $em-base rgba(23, 79, 119, 0.2);
		background-color: #2080a9;
		text-align: center;
		text-transform: uppercase;
		@extend .mono;
		font-weight: 700;
		padding: rem(19) 0;
		margin-bottom: rem(40);
		&.bg-warning{
			color: $dark;
		}
	}
	&__list{
		list-style: none;
		margin-bottom: 0;
	}
	&__list-item{
		display: flex;
		justify-content: space-between;
		position: relative;
		&:not(:last-child){
			margin-bottom: rem(40);
			&::after{
				content: "";
				width: 100%;
				height: 1px;
				background-color: $dark;
				opacity: 0.1;
				position: absolute;
				bottom: -25%;
				left: 0;
			}
		}
	}
	&__item-text{
		max-width: rem(200);
		@extend .h6;
		font-weight: 400;

	}
	&__item-price{
		@extend .h5;
		@extend .mono;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		span{
			color: $primary;
			display: block;
			font-weight: 700;
		}
		@include media-breakpoint-down(xs) {
			font-size: rem(16)
	}
	}
	.server-price{
		.s-tariffs__item-text{
			max-width: rem(220);
		}
		.s-tariffs__list-item{
			&:last-child{
				.s-tariffs__item-price{
					font-size: 1rem;
				}
			}
		}
	}
	&__btn-wrapper{
		display: flex;
		justify-content: center;
	}
	&__btn{
		@extend .btn;
		width: 100%;
		max-width: rem(400);
		font-size: rem(14);
		padding: rem(20) rem(13);
	}
	.r{
		border-radius: 0 rem(28) rem(28) 0;
	}
	.l{
		border-radius: rem(28) 0 0 rem(28);
	}
	.slick-arrow{
		background-color: #2080a9;
		width: rem(40);
		height: rem(55);
		line-height: rem(50);
		text-align: center;
		margin-top: rem(-20);
		opacity: .7;
		@include media-breakpoint-down(md) {
				top: 101%;
		}
		@include mt;
		svg{
			width: rem(13);
			height: rem(23);
		}
		path{
			fill: #fff;
		}
		&:hover{
			opacity: 1;
		}
	}
	.r{
		right: rem(-10);
		@include media-breakpoint-down(md) {
				right: 35%;
		}
		@include media-breakpoint-down(sm) {
				right: 30%;
		}
		@include media-breakpoint-down(xs) {
				right: 25%;
		}
	}
	.l{
		left: rem(-10);
		@include media-breakpoint-down(md) {
				left: 35%;
		}
		@include media-breakpoint-down(sm) {
				left: 30%;
		}
		@include media-breakpoint-down(xs) {
				left: 25%;
		}
	}
	&__pre-price{
		text-decoration: line-through;
		margin-bottom: 0;
		font-weight: 500;
	}

	&__radio-box{
		> .h5{
			@include media-breakpoint-down(md) {
				display: block;
				width: 100%;
			}
		}
		span{
			font-weight: 300;
			line-height: 34px;
			color: #010101;
		}
		.custom-input__text{
			font-size: $h6-font-size;
			font-weight: 500;
			color: #010101;
		}
		.custom-input{
			margin-left: rem(10);
			margin-bottom: 0;
		}
		.custom-input__input[type=radio]+.custom-input__lab{
			@include a-cent(y);
			border: 2px solid $primary;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}
.market-tariffs{
	margin-bottom: 0 !important;
	.slick-list{
		padding-bottom: 0;
	}
	.slick-dots{
		margin-top: rem(-10);
		margin-bottom: rem(45);
	}
	h2{
		margin-bottom: rem(37);
	}
	.s-tariffs__radio-box{
		margin-bottom: rem(25);
	}
	.s-tariffs__item-text{
		max-width: rem(210);
	}
	.s-tariffs__list-item{
		min-height: rem(57);
		align-items: center;
	}
	.s-tariffs__list{
		margin-bottom: 0;
	}
	.s-tariffs__item{
		padding-bottom: 0;
	}
	.s-tariffs__item .s-tariffs__btn{
		max-width: rem(267);
		margin: 0 auto;
		@extend .btn-outline-primary;
	}
}