mixin s-effective()
	// start s-effective
	+b.SECTION.s-effective.section#s-effective&attributes(attributes)
		.container
			+b.section-title
				+e.subtitle.mono.h6 Мы знаем, как сделать
				h2 Работу с маркетплейсами эффективной
				
			.row
				.col-12.col-sm-6.col-md-4
					+e.item
						+e.text Заключение договоров с маркетплейсами
				.col-12.col-sm-6.col-md-4
					+e.item
						+e.text.max-width Подготовка товарных каталогов
				.col-12.col-sm-6.col-md-4
					+e.item
						+e.text.max-width Оптимизация бизнес-процессов интернет-продавца
				.col-12.col-sm-6.col-md-4
					+e.item
						+e.text.max-width Оптимизация логистики согласно требованиям маркетплейсов
				.col-12.col-sm-6.col-md-4
					+e.item
						+e.text.max-width Запуск автоматизированного процесса продаж
				.col-12.col-sm-6.col-md-4
					+e.item
						+e.A.link(href="#") Подробнее о том, как наладить работу интернет-продавца с маркетплейсами

	// end s-effective